p {
  font-family: serif;
  font-size: 18px;
  color: darkblue;
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}

body {
  width: 90%;
  margin: 30%;
  background-image: url(https://cdn.pixabay.com/photo/2021/05/28/14/34/ships-6291071_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  background-position-y: 0%;
}

blockquote {
  font-size: 160%;
  background-color: gray;
  border-left: 3px solid firebrick;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  font-style: italic;
}
.quote2 {
  font-size: 160%;
  background-color: gray;
  border-left: 3px solid green;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  font-style: italic;
}

header:first-child {
  background-color: gold;
}
.good {
  color: green;
  text-transform: capitalize;
}
.bad {
  color: red;
  text-transform: capitalize;
}

tr :nth-child(odd) {
  background-color: gray;
}

td :nth-child(odd) {
    background-color: white;
}